.Ready h3 {
  color: rgb(181, 57, 12);
}

.Done h3 {
  color: rgb(70, 176, 70);
}

.InProgress h3 {
  color: rgb(220, 201, 26);
}

.task {
  display: grid;
  min-width: 40vw;
  grid-template-columns: 1fr repeat(4, 2rem);
  background-color: #f1f1f1;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
}
.task h3 {
  grid-row: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.task p {
  grid-row: 2;
  margin-top: 0.6rem;
  color: #100f0f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}
.task a {
  grid-row: 2;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}
form * {
  margin-top: 0.3rem;
}
form label {
  font-size: 1.3rem;
}
form input,
form select {
  padding: 0.3rem;
}

.NewButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  border: none;
  padding: 1.2rem;
  text-decoration: none;
  color: #9ed2c6;
  background-color: #e9dac1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 1000;
  border-radius: 1rem;
  height: 2rem;
  text-align: center;
}
.NewButton * {
  text-decoration: none;
  color: #9ed2c6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 1000;
  text-align: center;
}
.NewButton *:hover {
  color: #54bab9;
}
.NewButton:hover {
  color: #54bab9;
}

#delete-zone {
  border: 2px dashed rgb(255, 110, 110);
  min-width: 40vw;
  background-color: #f1f1f1;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
  text-align: center;
  opacity: 0.5;
}
#delete-zone:hover {
  opacity: 1;
}

.pf-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf-container img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 10vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  display: flex;
}
header .btn {
  border-radius: 1rem;
  padding: 0.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #54bab9;
}
.nav .site-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #e9dac1;
  text-decoration: none;
  cursor: pointer;
  margin: 0.5rem;
}

.NavButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  border: none;
  padding: 1.2rem;
  text-decoration: none;
  color: #9ed2c6;
  background-color: #e9dac1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 1000;
  border-radius: 1rem;
  height: 2rem;
  text-align: center;
}
.NavButton * {
  text-decoration: none;
  color: #9ed2c6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 1000;
  text-align: center;
}
.NavButton *:hover {
  color: #54bab9;
}
.NavButton:hover {
  color: #54bab9;
}

.sign {
  display: flex;
  flex-direction: row;
}

.dropbtn {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  border: none;
  padding: 1.2rem;
  text-decoration: none;
  color: #9ed2c6;
  background-color: #e9dac1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  height: 2rem;
  text-align: center;
  margin-right: 4rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #03614b;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content p,
.dropdown-content a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
}
.dropdown-content p:hover,
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-avatar {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}
.nav-avatar img {
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: 1px solid #808080;
  margin-top: 1rem;
  margin-right: 20vw;
  margin-left: 20vw;
  padding: 1rem;
  border-radius: 1rem;
}

.avatar {
  width: 10rem;
  margin: 1rem;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */